body {
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#user_container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.user_card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    border: 2px solid #ccc;
    text-align: center;
}

#loader {
    font-size: larger;
}